/*.exe
/*.7z
/*.pdb
/*.manifest
/Proton.iso
/Proton.sdf
/Proton.opensdf
/Proton.suo

/Build

/Logs

/Nernel/*.log
/Nernel/*.cache
/Nernel/Object

/OS/Mernel/bin
/OS/Mernel/obj

/OS/Proton.Devices/bin
/OS/Proton.Devices/obj

/OS/Proton.Diagnostics/bin
/OS/Proton.Diagnostics/obj

/OS/Proton.FileSystems/bin
/OS/Proton.FileSystems/obj

/OS/Proton.IO/bin
/OS/Proton.IO/obj

/Runtime/corlib/bin
/Runtime/corlib/obj

/Runtime/System/bin
/Runtime/System/obj

/SDK

/SDKInstaller/bin
/SDKInstaller/obj


/mem.bin