/*.exe
/*.7z
/*.pdb
/*.manifest
/Proton.iso
/Proton.sdf
/Proton.opensdf
/Proton.suo

/Build

/Runtime/corlib/bin
/Runtime/corlib/obj

/Logs

/SDK

/SDKInstaller/obj
/SDKInstaller/bin

/OS/Mernel/obj
/OS/Mernel/bin

/OS/Proton.Diagnostics/obj
/OS/Proton.Diagnostics/bin

/OS/Proton.Drivers/obj
/OS/Proton.Drivers/bin

/OS/Proton.Hardware/obj
/OS/Proton.Hardware/bin

/OS/Proton.IO/obj
/OS/Proton.IO/bin

/Nernel/*.log
/Nernel/*.cache
/Nernel/Object
