/Build
/Logs
/Proton.CLR.KOR/bin
/Proton.CLR.KOR/obj
/Proton.CLR.System/bin
/Proton.CLR.System/obj
/Proton.CLR.SystemCore/bin
/Proton.CLR.SystemCore/obj
/Proton.Compiler/bin
/Proton.Compiler/obj
/Proton.Launcher/bin
/Proton.Launcher/obj
/Proton.LIR/bin
/Proton.LIR/obj
/Proton.Mernel/bin
/Proton.Mernel/obj
/Proton.Metadata/bin
/Proton.Metadata/obj
/Proton.Nernel/bin
/Proton.Nernel/obj
/Proton.SDKInstaller/bin
/Proton.SDKInstaller/obj
/Proton.VM/bin
/Proton.VM/obj
/SDK
/SDKTemp
/Proton.iso
/Proton.suo
